{% extends 'base_layout.html' %}
{% load bootstrap4 %}

{% block content %}
<section class="article-detail">
  <div class="container-fluid text-center">
    <!--<div class="row" >
      <div class="col-12 py-2 py-md-3">
       
      </div>
    </div>
    <div class="row" >
      <div class="col-12 py-1 py-md-3">
        <h2 class="namelogo">JR-TRAINER</h2>
      </div>
    </div>-->
    <br>
      <div class="row py-2 py-md-3">
        <div class="col-12">
          <h2>{{articles.title}}</h2>
        </div>
      </div>
        <div class="row">
          <div class="col-12">
            <p>{{articles.body}}</p>
          </div>
        </div>
          <div class="row">
            <div class="col-12">
              <p>{{articles.date}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 py-1 py-md-3">
              <!--<a href="{{articles.thumb.url}}" download="{{articles.thumb.url}}">Download File</a>
              <a href="https://res.cloudinary.com/demo/image/upload/fl_attachment/multi_page_pdf.pdf" target="_blank" rel="nofollow noreferrer">Download2</a>
              <a href="https://res.cloudinary.com/hybzktgvk/image/upload/v1587918400/fl_attachment/samples/sheep.jpg" target="_blank" rel="nofollow noreferrer">Download2</a>-->
              <a href="https://res.cloudinary.com/dtdmebpdr/image/upload/fl_attachment/v1588528604/{{articles.thumb}}" target="_blank" rel="nofollow noreferrer">Download File</a>
            </div>
          </div>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{current_site}}/articles/{{articles.slug}}/">
          <i class="fab fa-1x fa-facebook"></i> Compartir en Facebook</a> 
          <a href="https://www.facebook.com/sharer/sharer.php?u=http://http://juandavidriverablog.tk//articles/{{articles.slug}}/">
            <i class="fab fa-1x fa-facebook"></i> Compartir en Facebook (link 2)</a> 
  </div>
</section>
{% endblock %}