{% extends 'base_layout.html' %}
{% load bootstrap4 %}

{% block content %}
  <body>
      <div class="container pb-1 pt-1 pb-md-4 pt-md-3">
        <div class="row text-center">
          <div class="col-12">
            <h1>Actividad Física(Clases personalizadas)</h1>
            <div class="col-12 text-justify">
              <p>Entrenamiento deportivo dirigido por un profesional
                del ejercicio hacia un solo usuario, en el horario y lugar de su preferencia, a través
                de métodos de entrenamiento actualizados y pertinentes de acuerdo a sus necesidades, 
                expectativas y objetivos, los cuales pueden ser salud, alto rendimento,
                mantenimiento, estética, entre otros.
              </p>
              <p>Planifico, ejecuto y evalúo planes de entrenamiento deportivo en: Fútbol-Voleibol-Natación-Softbol.</p>
              <p>Preparación en Macrociclos, Mesociclos y Microciclos con proyección a eventos competitivos de alto rendimento con resultados relevantes.</p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <h1>Servicios</h1>
            <div class="col-12 text-justify">
              <p>Entrenamiento personalizado, planes de (1 hasta 6 veces por semana) 1 hora de entrenamiento).</p>
              <p>Planes de 8-12-18 sesiones, semestrales o anuales.</p>
              <p>Entrenamiento semipersonalizado (máximo 3 personas).</p>
              <p>Entrenamiento grupal (deportes especificos o clases funcionales).</p>
              <p>Asesoría ONLINE.</p>
              <p>Masaje reductor + plan de entrenamiento (paquete) con descuento.</p>
              <p>Valoración física y de las capacidades condicionales (fuerza resistencia flexibilidad y velocidad)+capacidades coordinativa. En niños habilidades motrices básicas.</p>
              <p>Hidroaerobicos e hidroterapia.</p>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <h1>Beneficios</h1>
            <div class="col-12 text-justify">
              <p>Los usuarios pueden elegir el horario y lugar de preferencia.</p>
              <p>Sesión de entrenamiento extra en el mes de cumpleaños.</p>
              <p>1 semana al mes entrena con acompañante.</p>
              <p>Descuento del 20% en los planes anual y semestral.</p>
              <p>La primera sesión de entrenamiento (40 min) y la primera valoración física es gratis ( la valoración física
                se realiza bimensual o trimestral).
              </p>
            </div>
          </div>
        </div>
      </div>
  </body>
{% endblock %}