{% extends 'base_layout.html' %}
{% load bootstrap4 %}

{% block content %}
  <body>
      <div class="container pb-1 pt-1 pb-md-4 pt-md-3">
        <div class="row text-center">
          <div class="col-12">
            <h1>Actividad Fisica(Clases personalizadas)</h1>
            <div class="col-12 text-justify">
              <p>Entrenamiento deportivo dirigido por un profesional
                del ejercicio hacia un solo usuario, en el horario y lugar de su preferencia, a traves
                de metodos de entrenamiento actualizados y pertinentes de acuerdo a sus necesidades, 
                expectativas y objetivos, los cuales pueden ser salud, alto rendimento,
                mantenimiento, estetica, entre otros.
              </p>
              <p>Planifico, ejecuto y evaluo planes de entrenamiento deportivo en: Futbol-Voleibol-Natacion-Softbol.</p>
              <p>Preparacion en Macrociclos, Mesociclos y Microciclos con proyeccion a eventos competitivos de alto rendimento con resultados relevantes.</p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <h1>Servicios</h1>
            <div class="col-12 text-justify">
              <p>Entrenamiento personalizado, planes de (1 hasta 6 veces por semana) 1 hora de entrenamiento).</p>
              <p>Planes de 8-12-18 sesiones, semestrales o anuales.</p>
              <p>Entrenamiento semipersonalizado (maximo 3 personas).</p>
              <p>Entrenamiento grupal (deportes especificos o clases funcionales).</p>
              <p>Asesoria ONLINE.</p>
              <p>Valoracion fisica y de las capacidades condicionales (fuerza resistencia flexibilidad y velocidad)+capacidades coordinativa. En niños habilidades motrices basicas.</p>
              <p>Hidroaerobicos e hidroterapia.</p>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <h1>Beneficios</h1>
            <div class="col-12 text-justify">
              <p>Los usuarios pueden elegir el horario y lugar de preferencia.</p>
              <p>Sesion de entrenamiento extra en el mes de cumpleaños.</p>
              <p>1 semana al mes entrena con acompañante.</p>
              <p>Descuento del 20% en los planes anual y semestral.</p>
              <p>La primera sesion de entrenamiento (40 min) y la primera valoracion fisica es gratis ( la valoracion fisica
                se realiza bimensual o trimestral).
              </p>
            </div>
          </div>
        </div>
      </div>
  </body>
{% endblock %}