{% extends 'base_layout.html' %}
{% load bootstrap4 %}

{% block content %}
  <body>
      <div class="container pb-1 pt-1 pb-md-4 pt-md-3">
        <div class="row text-center">
          <div class="col-12">
            <h1>Masajes</h1>
            <div class="col-12 text-justify">
              <p>Masajes deportivos: Activacion muscular para procesos competitivos pre-entre-post.</p>
              <p>Liberacion de estres (punto gatillo) y espasmos musculares.</p>
              <p>Masajes relajantes: Cuello, espalda,piernas.</p>
              <p>Masaje facial y mascarilla de miel + hidratacion.</p>
              <p>Masaje para lesiones: Rotura de fibras, contracturas, esguinces con previa valoracion medica.</p>
              <p>Masajes y movilidad para personas con movilidad reducida (ancianos, personas en silla de rueda, readaptacion fisica de lesiones, entre otros)</p>
              <p>Laboral: Reduccion de los niveles de estres producto de la carga laboral mediante PAUSAS ACTIVAS.</p>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <h1>Productos</h1>
            <div class="col-12 text-justify">
              <p>Miel natural 500g.</p>
              <p>Termos deportivos</p>
              <p>Proteina vegetal (soja), proteina de suero de leche WPC 80.</p>
              <p>Implementos deportivos.</p>
            </div>
          </div>
        </div>
       
      </div>
  </body>
{% endblock %}