{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Blog about sport, nutrition and massages...{{article.snippets}}">
    <meta name="keywords" content="sport, nutrition,massages">

      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/57e7c598f3.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'style.css' %}">
   <!-- xl|lg|md|sm -->

    <title>{{articles.title}}</title>
    <!--link rel="stylesheet" href="{% static 'styles.css' %}"-->
  </head>
  <body>
<!-- START HEADERR-->
  
    <header class="wrapper">
      <div class="p-1" id="topHeader">
        <div class="container">
          <div class="row">
            <div class="col-12 text-right">
              <h1><a class="p-1" href="{% url 'home' %}">BLOG</a></h1>
            </div>
          </div>
        </div>
      </div>

      <div id="bottomHeader">
          <div class="container-fluid">
            <nav class="navbar navbar-dark  navbar-expand-md" style="background-color:#2980b9">
              <!--menu hamburger-->
              <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link" href="{% url 'home' %}" class="highlight" >Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'articles:article_workout' %}" class="highlight" >Entrenamiento</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'articles:articles_nutrition' %}" class="highlight" >Nutrición</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'articles:articles_massages' %}" class="highlight" >Masajes</a></li>
                  <li class class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">Mis Servicios</a>
                    <div class="dropdown-menu">
                      <a href="{% url "articles:coaching" %}" class="dropdown-item">Coaching</a>
                      <a href="{% url "articles:massages" %}" class="dropdown-item">Masajes</a>
                      </div>
                    </div>
                  </li>
                  {% if user.is_authenticated%}
                  <li class="nav-item">
                  <form class="logout link "action="{% url 'accounts:logout'%}" method="post">
                    {% csrf_token%}
                    <button style="color:rgba(255,255,255,.5)" class="btn btn-link" type="submit">Logout</button>
                  </form>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="{% url "articles:create" %}" class="highlight" >New article</a></li>

                  {%else%}
                  <!--li class="nav-item"><a class="nav-link" href="{% url "accounts:login" %}">Login</a></li-->
                  <!--li class="nav-item"><a  class="nav-link" href="#">Sign Up</a></li-->
                  {% endif %}
                </ul> 
              </div>
            </nav>
          </div>
      </div>
    </header>
<!-- END HEADER-->

<!-- START CENTRAL SECTION wrapper-->


    <div class="wrapper">
      <div class="container-fluid text-center">
        <div class="row" >
          <div class="col-12 py-2 py-md-3">
          </div>
        </div>
        <div class="row" >
          <div class="col-12 py-1 py-md-3">
            <h2 class="namelogo">JR-TRAINER</h2>
          </div>
        </div>
      </div>
      {% block content %}
      {% endblock%}
    </div>
<!-- END CENTRAL SECTION-->
<br>
<!-- START SECTION WHO AM I-->
    <section class="aboutme pt-2 pb-2 pt-md-3 pb-md-3" >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 text-center">
          <h3>Quién soy</h3>
          </div>
          <p class="text-justify mx-2">Me llamo Juan David y soy graduado de profesional en deporte, con capacidad para desenvolverme en diferentes ámbitos, tanto académicos como laborales, con gran atributo de responsabilidad, respeto por el otro y con ambición de aprender de los demás y así mismo de servir, poseo el talento de ser analítico y objetivo.

            Fui  formado integralmente sobre las características biológicas, fisiológicas y psicológicas del hombre en los distintos estados de su desarrollo; sobre el movimiento, el entrenamiento deportivo y los demás procesos de carácter técnico. Actualmente estudiante de la tecnica de masoterapia. </p>
        </div>
      </div>
    </section>
    </section>

<END SECTION CONTACT ME-->

<!-- START SECTION SERVICES-->

 <section class="pb-5 pt-3">
      <div class="container">
        <div class="row">
          <div class="col">
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <h3>Mis servicios</h3>
          <!-- horizontal row-->
          <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4  text-center ">
            <!--<img class="img-fluid p-5 qualities-img" src="#">-->
            <i class="fas fa-dumbbell fa-5x"></i>
            <h5 class="py-2">Planes de entrenamiento personalizados</h5>
            <p>Planificar, perzonalizados, manejo de grupos de alto rendimiento, control de programas y diseño y seguimiento de entrenamiento via Skype, Whatsapp y Zoom.</p>
          </div>
          <div class="col-md-4 text-center">
           <!-- <img class="img-fluid p-5 qualities-img" src="#">-->
           
           <i class="fas fa-apple-alt fa-5x"></i>
            <h5 class="py-2">Planes nutricionales</h5>
            <p>Dietas basicas para aumento, mantenimiento y disminucion del tejido graso más valoraciones.</p>
          </div>
          <div class="col-md-4 text-center">
            <!--<img class="img-fluid p-5 qualities-img" src="#">-->
            <i class="fas fa-spa fa-5x"></i>
            <h5 class="py-2">Masajes</h5>
            <p>Servicios a domicilio de masajes relajantes, reductores y deportivos.</p>
            <p>Masaje reductor + plan de entrenamiento (paquete) con descuento</p>
          </div>
        </div>
        
      </div>
    </section>
<!-- END SECTION SERVICES-->
  

<!-- START FOOTER-->
    <footer class="full-footer text-center">
      <div class="container-fluid top-footer p-md-3 p-1">
        <div class="row ">
          <div class="col-md-4 pl-4 pr-4">
            <h3>Sígueme en las redes sociales</h3>
          <!-- img responsive class img-fluid-->
          <!--p>Write something<!--a href="#">Read more</a></p-->
          <a class="p-1" style="color:silver" href="https://www.facebook.com/JR-Trainer-104387597906870/?modal=admin_todo_tour"><i class="fab fa-3x fa-facebook"></i></a>
          <a class="p-1" style="color:silver" href="https://www.instagram.com/JRdTrainer/"><i class="fab fa-3x fa-instagram"></i></i></a>
          <!--<a class="p-1" style="color:silver" href="#"><i class="fab fa-3x fa-google-plus-square"></i></i></a>-->
          </div>
          <!--<div class="col-md-3 pl-4 pr-4 ">
            <h3>Important Links</h3><br>
            <a href="#">Social Media</a>
          </div>-->
          <div class="col-md-4 pl-4 pr-4">
            <h3>Mis servicios</h3><br>
            <a href="{% url "articles:coaching" %}" id="coaching-popup" >Coaching</a><br>
            <a href="{% url "articles:massages" %}" id="massage-popup" >Masajes</a>
           
          </div>
          <div class="col-md-4 pl-4 pr-4">
              <h3>Contáctame </h3><br>
            <!--<a class="p-2" href="tel:+1-2025550116"><i class="fas fa-phone"></i></i>+1-2025550116</a><br>-->
            <p class="p-2" ><i class="fas fa-envelope-square"></i> jr8trainer@gmail.com</p><br>
            <!--div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.1348419397327!2d-75.57417678523069!3d6.2459553954789255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428551d4336d3%3A0x3265bf68e7f1f910!2sParque%20De%20Las%20Luces%2C%20Medell%C3%ADn%2C%20Antioquia%2C%20Colombia!5e0!3m2!1sen!2sit!4v1585173609494!5m2!1sen!2sit" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>" 
            <!--Copy from google maps link-->
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bottom-footer pt-2">
        <div class="row text-center">
          <div class="col-12">
            <p><small> Copyrights &copy; 2020 - All Rights Reserved</small></p>
          </div>
        </div>
      </div>
    </footer>
<!-- END FOOTER-->
  
    <!-- Optional JavaScript -->
    <script type="text/javascript" src="/static/slugify.js" charset="utf-8"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>